[FORMAT]
# The default 80 limit is a tad hard:
max-line-length=100
# Our beloved FridoConfig and FridoState instances, plus generic exception:
good-names = fc,fs,ex

[MASTER]
disable=unspecified-encoding,raise-missing-from,broad-exception-caught
